header{background-color: aquamarine; height: 300px; width: 100%;}
footer{background-color: rgb(165, 227, 229); height: 300px; width: 100%;}
table{width: 100%;}
#rood{background-color: red; ;}
#blauw{background-color: rgb(25, 50, 161);}
#groen{background-color: rgb(0, 255, 64);}
#roze{background-color: rgb(177, 64, 158);}
#zwart{background-color: rgb(8, 8, 8);}
#geel{background-color: rgb(193, 235, 98);}
#wit{background-color: rgb(214, 192, 192);}
#oranje{background-color: rgb(190, 124, 24);}
#kersenrood{background-color: rgb(112, 22, 22);}
#babyblauw{background-color: rgb(61, 223, 209);}
#kotsgroen{background-color: rgb(159, 243, 111);}
#beige{background-color: rgb(230, 146, 91);}
#donkergrijs{background-color: rgb(71, 71, 71);}
#marineblauw{background-color: rgb(37, 6, 95);}
#bruin{background-color: rgb(116, 88, 38);}
#lila{background-color: rgb(146, 71, 216);}